body{
    background-color: aquamarine;
    width: 90%;
    margin: auto;
}
img{
    width: 20rem;
    height: 20rem;
    display: block;
}
.conteudo{
    display: flex;
   justify-content: center;
   align-items: center;
   gap:  2rem;
}



.conteudo button{
    height: 5rem;
    width: 5rem;
}